  /* .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    background-size: cover;
    backdrop-filter: blur(8px); 
  }  */
  
  .login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(193, 171, 171, 0.9);; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .login-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: left;
    color:black;
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Add the following styles for each field */
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  /* Center the Signup button */
.login-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color:rgb(76, 138, 76); /* Adjust the color as needed */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:25%;
  }
  